// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.date-ago {
  font-size: 12px;
}

.review-post-denied {
  padding-top: 10px;
}

.review-description {
  padding-bottom: 10px;
}